.Empty{
	clear: inherit;

	margin: 0px;
	padding: 0px;
	border: 0px;
}

.Title-page{
	clear: inherit;

	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 200%;
	background-color: #000000;
	margin: 0px;
}

.Start-button{
	clear: inherit;

	position: absolute;
	top: 30%;
	left: 35%;
	width: 30%;
	height: 5%;
	margin-bottom: 0px;

	background-color: #9dc49a;
	color: #142e14;
	font-weight: bolder;
	font-size: 45px;
	font-family: Georgia, 'Times New Roman', Times, serif;

	border-width: 4px;
	border-style: solid;
	border-color: #142e14;
}

.Settings-button{
	clear: inherit;

	position: absolute;
	top: 35%;
	left: 35%;
	width: 20%;
	height: 5%;
	margin-top: 0px;

	background-color: #9dc49a;
	color: #142e14;
	font-weight: bolder;
	font-size: 45px;
	font-family: Georgia, 'Times New Roman', Times, serif;

	border-width: 4px;
	border-style: solid;
	border-color: #142e14;
}

.Share-button{
	clear: inherit;

	position: absolute;
	top: 35%;
	left: 55%;
	width: 10%;
	height: 5%;
	margin-top: 0px;

	background-color: #9dc49a;
	color: #142e14;
	font-weight: bolder;
	font-size: 45px;
	font-family: Georgia, 'Times New Roman', Times, serif;

	border-width: 4px;
	border-style: solid;
	border-color: #142e14;
}

.Game{
	clear: inherit;
}

.Game-window{
	clear: inherit;
	
	background-color: #000000;
	width: 800px;
	height: 600px;
	margin: auto;

	border: 10px;
	border-style: ridge;
	border-color: darkolivegreen;
}

.Game-bar{
	clear: inherit;

	margin: auto;

	width: 800px;
	height: 60px;

	border: 10px;
	border-style: ridge;
	border-color: darkolivegreen;
}

.Stats-bar{
	clear: inherit;

	width: 30%;
	height: 100%;
	float: left;

	padding: 0px;
	margin: 0px;

	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 0px;
	grid-template-rows: repeat(2, 1fr);
}

.Stats-bottom{
	clear: inherit;

	grid-column: 1/1;
	grid-row: 2/2;

	padding: 0px;
	margin: 0px;
}

.Abilities-bar{
	clear: inherit;

	height: 100%;
	width: 70%;
	float: right;

	padding: 0px;
	margin: 0px;
}

.Health-bar{
	clear: inherit;

	height: 100%;
	width: 100%;
	margin: 0px;

	grid-column: 1/1;
	grid-row: 1/2;
	
	border: 4px;
	border-top: 0px;
	border-style: ridge;
	box-sizing: border-box;
	border-color: darkolivegreen;
}

.Energy-bar{
	clear: inherit;
	
	height: 100%;
	width: 67%;
	margin: 0px;
	float: left;

	border: 4px;
	border-style: ridge;
	box-sizing: border-box;
	border-color: darkolivegreen;
}

.Currency-bar{
	clear: inherit;

	height: 100%;
	width: 33%;
	margin: 0px;
	float: left;
	
	border: 4px;
	border-style: ridge;
	box-sizing: border-box;
	border-color: darkolivegreen;
}

.Core-bar{
	clear: inherit;

	width: 186px;
	height: 100%;
	float: left;

	border: 4px;
	border-style: ridge;
	box-sizing: border-box;
	border-color: darkolivegreen;
}

.Core-bar-last{
	clear: inherit;

	width: 188px;
	height: 100%;
	float: left;

	border: 4px;
	border-style: ridge;
	box-sizing: border-box;
	border-color: darkolivegreen;
}

.Game-menu{
	clear: inherit;
	background-color: #51854e;
	width: 800px;
	margin: auto;

	border: 10px;
	border-top: 0px;
	border-style: ridge;
	border-color: darkolivegreen;
}

.Game-menu-text{
	margin:auto;
	padding:2px;
	color: #d4d4d4;
}

.Console-backdrop{
	clear: inherit;

	margin: auto;
	padding: 2px;
	width: 99.5%;
	height: 200px;

	background-color: #8e998d;
	color: #d4d4d4;
	text-align: left;
	overflow-y: scroll;
}

.Console-input{
	width: 90%;
}

.Console-input-button{
	width: 9.5%;
}

.Map-backdrop{
	clear: inherit;

	margin: auto;
	padding: 2px;
	width: 99.5%;
	height: 200px;

	background-color: #000000;
	color: #d4d4d4;
	text-align: center;
	overflow-y: scroll;
}

.Inventory-backdrop{
	clear: inherit;

	margin: auto;
	padding: 0px;
	width: 99.5%;
	height: 200px;

	background-color: #51854e;
	color: #d4d4d4;
	overflow-y: scroll;
}

.Inventory-header{
	clear: inherit;

	margin: 0px;
	width: 98.5%;
	height: 40px;

	font-size: 30px;
	text-align: center;

	border: 5px;
	border-style: solid;
	border-color: #142e14;
}

.Inventory-container{
	clear: inherit;

	margin: 0px;
	padding: auto;
	width: 97.2%;
	height: 300px;

	border: 10px;
	border-style: solid;
	border-color: #142e14;
}

.Inventory-item{
	clear: inherit;

	margin: 3px;
	width: 60px;
	height: 60px;
	float: left;

	border: 4px;
	border-style: solid;
	border-color: #142e14;
}

.Abilities-backdrop{
	clear: inherit;

	margin: auto;
	padding: 0px;
	width: 99.5%;
	height: 200px;

	background-color: #51854e;
	color: #d4d4d4;
	overflow-y: scroll;
}

.Abilities-header{
	clear: inherit;

	margin: 0px;
	width: 98.5%;
	height: 40px;

	font-size: 30px;
	text-align: center;

	border: 5px;
	border-style: solid;
	border-color: #142e14;
}

.Abilities-header2{
	clear: inherit;

	margin: 0px;
	width: 98.5%;
	height: 30px;

	font-size: 20px;
	text-align: center;

	border: 5px;
	border-style: solid;
	border-color: #142e14;
}

.Abilities-container{
	clear: inherit;

	margin: 20px;
	padding: auto;
	width: 25%;
	height: 300px;
	float: left;

	border: 10px;
	border-style: solid;
	border-color: #142e14;
	overflow-x: hidden;
	overflow-y: scroll;
}

.Login-inner{
	clear: inherit;

	height: 100%;
	margin: 0px;

	border: 6px;
	border-style: solid;
	border-color: darkolivegreen;
}

.Login-detail{
	clear: inherit;
	
	top: 0px;
	width: 20%;
	float: right;
	position: relative;

	padding: 0px;
	border: 2px;
	border-style: ridge;
	border-color: darkolivegreen;
}

.Login-label{
	clear: inherit;

	font-size: 26px;
	color: white;
}

.Login-input{
	clear: inherit;

	width: 85%;

	background-color: #51854e;
	border: 0px;

	color: white;
	font-size: 18px;
}

.Login-button{
	clear: inherit;

	width: 60%;
	float: left;

	border: 1px;
	border-style: solid;
	border-bottom: 0px;
	border-left: 0px;
	border-color: darkolivegreen;
	background-color: #9dc49a;
}

.Signin-button{
	clear: inherit;

	width: 40%;
	float: right;

	border: 1px;
	border-style: solid;
	border-bottom: 0px;
	border-right: 0px;
	border-color: darkolivegreen;
	background-color: #9dc49a;
}

.Footer{
	clear: inherit;
	border:10px;
	color:  darkolivegreen;
	border-style: solid ridge;
	padding-top:-50px;
}

.Footer-title{
	clear: inherit;
	font-size: larger;
	border-style: dashed solid solid;
	width: 30%;
	color: whitesmoke;
	border-color: darkolivegreen;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.Footer-information{
	clear: inherit;
	border-style: dashed solid solid;
	width: 80%;
	color:  whitesmoke;
	border-color: darkolivegreen;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.App-title{
	clear: inherit;
	font-size: 60px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border: 2px;
	border-color: darkolivegreen;
	border-style: ridge;
	color: darkolivegreen;
	align-content: center;
    align-self: center;
	margin: auto;
	text-align: center;    
}

.App-title-outer{
	clear: inherit;
	border: 2px;
	color:darkolivegreen;
	border-style: ridge;
	border-color: darkolivegreen;
    width: 30%;
	align-content: center;
    align-self: center;
	margin: auto;
	text-align: center;
	
}

.App-title-inner{
	clear: inherit;
	border: 10px;
	border-style: solid;
	border-color: #9dc49a;
}

.App-subtitle{
	clear: inherit;
	font-size: 24px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border: 2px;
	border-top: 0px;
	border-style: ridge;
	border-color: darkolivegreen;
	text-align: center;
	margin: auto;
	color: darkolivegreen;
}

.App-subtitle-outer{
	clear: inherit;
	border: 2px;
	border-top: 0px;
	border-style: ridge;
	border-color:darkolivegreen;
	width: 20%;
	text-align: center;
	margin: auto;
	color: darkolivegreen;
}

.App-subtitle-inner{
	clear: inherit;
	border: 4px;
	border-top: 0px;
	border-style: solid;
	border-color: #9dc49a
}